<!DOCTYPE html>
<html>
  <head>
    <title>home</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/6d90f39943.js"></script> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script
  </head>
<body class="sidebar-mini">
      <%= render partial: "layouts/nav" %>
    <div class="wrapper">
      <div class="content-wrapper">
        <%= yield %>
      </div>
    </div>
    <%= render partial: "layouts/footer" %>
  </body>
</html>